/build/
/install/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

*.o
*.obj
*.so
*.a
*.exe
*.out
*.dll

*.log
*.tmp
*.swp
*.DS_Store

*.user
*.vcxproj*
.idea/
.vscode/
compile_commands.json
